nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline;
  border: 1px solid orange;
  padding: 10px 30px;
}

span{
  float:right;
}
.icon:hover{
  opacity:.75
  width: 10px;
  height: 10px;
}

  p {
      background-color: #00f0ff;
      margin: 0 auto;
      width: 75%;
  }
  .project-image{
    margin: 0 10px;
    width: 200px;
    height: 200px;
    opacity: 0.75;
    transition: box-shadow 0.5, opacity 0.5;
  }

  h1{
  color:blue;
  transition: color 1s;

  }
.project-image:hover{
    color:#ff0000;
    box-shadow: 0 0 5px 5px #555555;
  }
